node_modules
.env
dist
logs
.cache

tsconfig.tsbuildinfo
.DS_Store
launch.json
settings.json

.vscode
.editorconfig
.gitattributes

workspace.-codeworkspace

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

!.vscode/extentions.json
!.vscode/settings.json
